# Sistema operativo
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
error_log

# Editor
.vscode/
.idea/
*.swp
*.swo

# Dependencias (por si en el futuro agregás algo)
node_modules/
